body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
}

/*固定する背景*/
div {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 5%;
  position: relative;
}
.parallax-bg {
  background-image: url('top.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: white;
  display: block;
  text-align: center;
}

.text p{
  opacity: 0;
  padding-right: 80px;
}
.text p{
  color: rgb(102, 102, 102);
  font-size: 16px;
  letter-spacing:6px; /* 文字間 */
  line-height:45px;/* 行間 */
  font-family: fot-tsukubrdgothic-std, sans-serif;
  text-align: center;
  margin:  100px;
}


.pic img{
  width: 25%;
  margin: 5px;
}
.pic img:hover{
  opacity: 0.8;
  transition:0.6s;
}
.fadeInRight{
  transition: all 1s ease-in;
  transform: translateX(40px);
  opacity: 1 !important;
}

footer p{
  font-size: 13px;
  color:rgb(94, 94, 94);
  font-family: proxima-nova, sans-serif;
  text-align: center;
  font-weight: 200;
  padding: 50px;
}

ul{
  list-style: none;
  display: flex;
  position: absolute;
  top:10%;
  left: 65%;
  font-size: 20px;
  text-decoration: none;
}
li{
  padding: 10px;
}
a{
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  color: rgb(68, 68, 68);
}
a:hover{
  color: rgb(125, 125, 125);
  transition: 0.6s;
}

#logo{
  width: 15%;
  position: absolute;
  top: 10%;
  left: 5%;
}
#logo:hover{
  opacity: 0.8;
  transition:0.6s;
}
#reve{
  width: 23%;
  position: absolute;
  top: 90%;
  left: 65%;
  z-index: 10;
}
#reve:hover{
  transform: scale(1.01,1.01);
  transition:0.7s;
}
#sc{
  position: absolute;
  top: 67%;
  left: 94%;
}
@media screen and (max-width: 1150px){
 ul{
   left: 54%;
 }
}
@media screen and (max-width: 800px){
 #logo{
   width: 25%;
   }

   #reve{
     width: 35%;
   }
   a{
     font-size: 15px;
   }
   #sc{
     top: 61%;
     left: 87%;
   }
}

@media screen and (max-width: 600px){
 ul{
   left: 32%;
}
.text p{
  margin: 100px 20px 100px 20px;
}
}


@media screen and (max-width: 600px){
  .parallax-bg {
    background-attachment: scroll;
  }
  li{
    padding: 3px;
  }
  a{
    font-size: 13px;
  }
}
